**/.git
**/.gitignore
**/.vscode
**/.github
**/.devcontainer
**/.ruff_cache
**/coverage
**/.env
**/.venv
**/.aws
**/.ssh
Dockerfile
docker-compose.yml
README.md
CITATION.cff
**/.DS_Store
**/venv
**/env
